$defaultBoxShadow   : 0px 1px 2px rgba(0,0,0,0.12), 0px 1px 5px 2px rgba(0,0,0,0.25);
$secondaryBoxShadow : 0px 1px 4px rgba(0,0,0,0.08), 0px 1px 2px rgba(0,0,0,0.12);

// Small devices (landscape phones, 576px and up)
$mobile : 575px;

// Medium devices (tablets, 768px and up)
$tablet : 767px;

// Large devices (desktops, 992px and up)
$desktop : 991px;

// Extra large devices (large desktops, 1700px and up)
$largeDesktop : 1700px;